* {
    background-color: #181719;
    color: white;
}

body {
    font-family: 'Fira Code', monospace;
    font-family: 'Lora', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}

header {
    padding: 50px 80px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-options {
    display: flex;
    list-style: none;
    gap: 85px
}

.less a {
    text-decoration: none;
}